# Setting up notebook

In [1]:
%load_ext autoreload
%autoreload 2

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# Scrapping CSV

## Imports

In [2]:
import os
import pandas as pd
import cv2
from matplotlib import pyplot as plt

## Dataset

In [15]:
images_dir_path = '../../data/dataset/'

images_paths_list = [os.path.join(path, name) for path, subdirs, files in os.walk(images_dir_path) for name in files]

images_df = pd.DataFrame(images_paths_list, columns=['path'])

In [16]:
#images_df['label'] = (images_df['path'].str.extract(r'(\w+(?=/IMG))'))
images_df[['big', 'small']] = 0
images_df.loc[images_df['path'].str.contains('big'), ['big']] = 1
images_df.loc[images_df['path'].str.contains('small'), ['small']] = 1
images_df

                                           path  big  small
0    ../../data/dataset/train/big/IMG_7861.jpeg    1      0
1    ../../data/dataset/train/big/IMG_7884.jpeg    1      0
2    ../../data/dataset/train/big/IMG_7869.jpeg    1      0
3    ../../data/dataset/train/big/IMG_7870.jpeg    1      0
4    ../../data/dataset/train/big/IMG_7875.jpeg    1      0
..                                          ...  ...    ...
59  ../../data/dataset/test/small/IMG_7902.jpeg    0      1
60  ../../data/dataset/test/small/IMG_7890.jpeg    0      1
61  ../../data/dataset/test/small/IMG_7896.jpeg    0      1
62  ../../data/dataset/test/small/IMG_7905.jpeg    0      1
63  ../../data/dataset/test/small/IMG_7915.jpeg    0      1

[64 rows x 3 columns]

## Splitting dataset

In [18]:
train_df = images_df.loc[images_df['path'].str.contains('train')]
test_valid_df = images_df.loc[images_df['path'].str.contains('test')]

big_test_valid_df = test_valid_df.loc[test_valid_df['big']==1]
small_test_valid_df = test_valid_df.loc[test_valid_df['small']==1]

test_df = big_test_valid_df.iloc[:int(big_test_valid_df.shape[0]/2)].append(small_test_valid_df.iloc[:int(small_test_valid_df.shape[0]/2)])
valid_df = big_test_valid_df.iloc[int(big_test_valid_df.shape[0]/2):].append(small_test_valid_df.iloc[int(small_test_valid_df.shape[0]/2):])
'Train dataset:'
train_df
'Test dataset:'
test_df
'Valid dataset:'
valid_df

'Train dataset:'

                                            path  big  small
0     ../../data/dataset/train/big/IMG_7861.jpeg    1      0
1     ../../data/dataset/train/big/IMG_7884.jpeg    1      0
2     ../../data/dataset/train/big/IMG_7869.jpeg    1      0
3     ../../data/dataset/train/big/IMG_7870.jpeg    1      0
4     ../../data/dataset/train/big/IMG_7875.jpeg    1      0
5     ../../data/dataset/train/big/IMG_7845.jpeg    1      0
6     ../../data/dataset/train/big/IMG_7864.jpeg    1      0
7     ../../data/dataset/train/big/IMG_7882.jpeg    1      0
8     ../../data/dataset/train/big/IMG_7854.jpeg    1      0
9     ../../data/dataset/train/big/IMG_7849.jpeg    1      0
10    ../../data/dataset/train/big/IMG_7863.jpeg    1      0
11    ../../data/dataset/train/big/IMG_7855.jpeg    1      0
12    ../../data/dataset/train/big/IMG_7860.jpeg    1      0
13    ../../data/dataset/train/big/IMG_7848.jpeg    1      0
14    ../../data/dataset/train/big/IMG_7846.jpeg    1      0
15    ../../data/dataset/train/big/IMG_7857.jpeg    1      0
16    ../../data/dataset/train/big/IMG_7879.jpeg    1      0
17    ../../data/dataset/train/big/IMG_7852.jpeg    1      0
18    ../../data/dataset/train/big/IMG_7867.jpeg    1      0
19    ../../data/dataset/train/big/IMG_7866.jpeg    1      0
20    ../../data/dataset/train/big/IMG_7851.jpeg    1      0
21    ../../data/dataset/train/big/IMG_7873.jpeg    1      0
22    ../../data/dataset/train/big/IMG_7872.jpeg    1      0
23    ../../data/dataset/train/big/IMG_7881.jpeg    1      0
24    ../../data/dataset/train/big/IMG_7858.jpeg    1      0
25    ../../data/dataset/train/big/IMG_7878.jpeg    1      0
26    ../../data/dataset/train/big/IMG_7876.jpeg    1      0
27  ../../data/dataset/train/small/IMG_7888.jpeg    0      1
28  ../../data/dataset/train/small/IMG_7885.jpeg    0      1
29  ../../data/dataset/train/small/IMG_7907.jpeg    0      1
30  ../../data/dataset/train/small/IMG_7906.jpeg    0      1
31  ../../data/dataset/train/small/IMG_7892.jpeg    0      1
32  ../../data/dataset/train/small/IMG_7898.jpeg    0      1
33  ../../data/dataset/train/small/IMG_7886.jpeg    0      1
34  ../../data/dataset/train/small/IMG_7889.jpeg    0      1
35  ../../data/dataset/train/small/IMG_7904.jpeg    0      1
36  ../../data/dataset/train/small/IMG_7903.jpeg    0      1
37  ../../data/dataset/train/small/IMG_7895.jpeg    0      1
38  ../../data/dataset/train/small/IMG_7901.jpeg    0      1
39  ../../data/dataset/train/small/IMG_7891.jpeg    0      1
40  ../../data/dataset/train/small/IMG_7894.jpeg    0      1
41  ../../data/dataset/train/small/IMG_7900.jpeg    0      1
42  ../../data/dataset/train/small/IMG_7897.jpeg    0      1

'Test dataset:'

                                           path  big  small
43    ../../data/dataset/test/big/IMG_7880.jpeg    1      0
44    ../../data/dataset/test/big/IMG_7856.jpeg    1      0
45    ../../data/dataset/test/big/IMG_7850.jpeg    1      0
46    ../../data/dataset/test/big/IMG_7877.jpeg    1      0
47    ../../data/dataset/test/big/IMG_7865.jpeg    1      0
48    ../../data/dataset/test/big/IMG_7868.jpeg    1      0
56  ../../data/dataset/test/small/IMG_7899.jpeg    0      1
57  ../../data/dataset/test/small/IMG_7893.jpeg    0      1
58  ../../data/dataset/test/small/IMG_7887.jpeg    0      1
59  ../../data/dataset/test/small/IMG_7902.jpeg    0      1

'Valid dataset:'

                                           path  big  small
49    ../../data/dataset/test/big/IMG_7853.jpeg    1      0
50    ../../data/dataset/test/big/IMG_7847.jpeg    1      0
51    ../../data/dataset/test/big/IMG_7871.jpeg    1      0
52    ../../data/dataset/test/big/IMG_7874.jpeg    1      0
53    ../../data/dataset/test/big/IMG_7883.jpeg    1      0
54    ../../data/dataset/test/big/IMG_7862.jpeg    1      0
55    ../../data/dataset/test/big/IMG_7859.jpeg    1      0
60  ../../data/dataset/test/small/IMG_7890.jpeg    0      1
61  ../../data/dataset/test/small/IMG_7896.jpeg    0      1
62  ../../data/dataset/test/small/IMG_7905.jpeg    0      1
63  ../../data/dataset/test/small/IMG_7915.jpeg    0      1

## Creating files

In [19]:

train_df.to_csv(os.path.join(images_dir_path, 'train.csv'), index=False)
test_df.to_csv(os.path.join(images_dir_path, 'test.csv'), index=False)
valid_df.to_csv(os.path.join(images_dir_path, 'valid.csv'), index=False)